* {
    box-sizing: border-box;
}
.picture-frame {
    
    height: 500px;
    width: 500px;
}

.picture-frame > img {
    width: 100%;
}

.poster {
    position: relative;
    height: 333px;
    width: 500px;

}
.part1, .part2 {
    position: absolute;
    color: #eee;
}
.part1 {
    left: 10px;
    top: 8px;
}
.part2 {
    bottom: 5px;
    right: 5px;
}
